.container{
    margin-top: 5%;
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #fff;
}

.title{
    background-color: green;
    text-align: center;
    font-size: 35px;
    padding: 20px;
    text-decoration: underline;
}

.ItemsContainer{
    display: flex;
    flex-direction: row;
    margin: 0% 1%;
}

.headphones{
    background-size: cover;
    background-position: center;
    width: 100%;
}

.aboutImage{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descriptionContainer{
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.header{
    text-shadow: 2px 2px #FF0000;
    font-size: 27px;
    padding: 15px;
}

.descriptionContainer p{
    padding: 5px;
    font-size: 20px;
    /* background-color: yellow; */
    padding: 2%;
}


@media screen and (max-width: 830px){
    .ItemsContainer{
        display: flex;
        flex-direction: column-reverse;
    }

    .aboutImage{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .descriptionContainer{
        width: 100%;
    }
    
}