.container{
    margin-top: 5%;
    background-color: red;
    background-size: cover;
    background-position: center;
    width: 100%;
    color: #fff;
}

.headphones{
    background-size: cover;
    background-position: center;
    width: 100%;
}

.ItemsContainer{
    display: flex;
    flex-direction: row;
}

.aboutImage{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.descriptionContainer{
    width: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.header{
    text-shadow: 2px 2px #FF0000;
    font-size: 20px;
    text-align: center;
    /* background-color: green; */
    padding: 15px;
}

.descriptionContainer h2{
    text-align: center;
    padding: 15px;
}

.descriptionContainer p{
    padding: 5px;
}

.icons{
    color: #FF0000;
    padding-right: 8px;
}


@media screen and (max-width: 830px){
    .ItemsContainer{
        display: flex;
        flex-direction: column-reverse;
    }

    .aboutImage{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .descriptionContainer{
        width: 100%;
    }
    
}