.container{
    background-color: yellow;
    margin-top: 20px;
    color: #fff;
}

.title{
    text-align: center;
    font-size: 35px;
    padding: 20px;
    text-decoration: underline;
}
.contact{
    color: #fff;
    padding: 5px;
    display: flex;
    flex-direction: row;
    /* background-color: aquamarine; */
   
}

.iconsContainer{
    padding: 2%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.iconsContainer img{
 
    padding: 2%;
}
.icons{
    /* background-color: crimson; */
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.iconsDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    /* background-color: darkcyan; */
}

.iconsDiv p{
    font-size: 20px;
    color: #fff;
    padding-left: 3%;
   
}

.faPhone {
    height: 30px;
    padding: 2%;
    color: #fff;

}

.faEnvelope {
    height: 30px;
    padding: 2%;
    color: #fff;
}

.contactForm{
    width: 50%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
    
}

.form{
    /* background-color: chocolate; */
    display: flex;
    flex-direction: column;
}

.contactForm h3{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.contactForm input{
    height: 40px;
    padding: 10px;
    margin: 5px 0px;
    font-size: 20px;
    color: #fff;
    border-radius: 5px;
    border: 0.5px solid #fff;
}
input::placeholder{
    color: #fff;
}

textarea::placeholder{
    color: #fff;
}

.contactForm textarea{
    height: 140px;
    padding: 10px;
    margin: 5px 0px;
    font-size: 20px;
    border-radius: 5px;
    border: 0.5px solid #fff;
    color: #fff;
}

.contactForm button{
    border-radius: 5px;
    /* color: #fff; */
    font-size: 20px;
    border: 0.5px solid #fff;
    height: 50px;
    margin-top: 4%;
    background-color: #cccccc;
}

@media screen and (max-width: 830px) {

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contactForm{
        background-color: red;
        width: 100%;
        padding: 0% 5%;
    }

    
}