.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}
.logo{
    height: 50px;
    width: auto;
}

.title{
    color: #fff;
    font-family: 'Acumin Variable';
    background-color: red;
}

.menu{
    height: 100%;
}

.menu img{
    display: none;
}

.menuList{
    display: flex;
    list-style: none;
}

.menuList li{
    font-size: 20px;
    padding: 20px;
}

.menuList li a{
    text-decoration: none;
    color: #fff;
}
.children{
    background-color: red;
    color: #fff;
    position: absolute;
}

.children ul{
    list-style: none;
}

.withChildren{
    background-color: green;
    color: #fff;
    position: absolute;
}

.withChildren ul {
    list-style: none;
}














@media screen and (max-width: 830px) { 
    
    .navbar{
        position: relative;
    }

    .menu{
        background-color: green;
        margin-right: 5%;
    }

    .menu img{
        display: block;
    }

    .menuList{
        display: none;
        position: absolute;
        right: 0;
        width: 100%;
        
    }

    .menuOpen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: blue; */
        z-index: 3;
    }

    .menuOpen li{
        /* background-color: green; */
        opacity: 0.6;
    }

    .children{
        position: relative;
    }

    .withChildren{
        position: relative;
    }
    

}
