.container{
    margin-top: 10%;
    padding: 0% 2%;
    display: flex;
    flex-direction: column;
    /* background-color: green; */
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
    /* background-color: yellow; */

}
.socials img{
    height: 120px;
    width: auto;
}

.socials ul{
    list-style: none;
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin-right: 15%;
  
}

.socials ul li{
    padding: 5px;

}

.socials ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.contacts{
    display: flex;
    /* background-color: red; */
    padding: 10px;
    justify-content: space-around;
    color: #fff;
    margin-top: 10px;
    border-bottom: 1px solid white;
}

.contacts p{
    padding: 20px;
}

.icons{
    padding-right: 10px;
    color: #ff5364;
    background-color: transparent;
}

.terms{
    display: flex;
    flex-direction: row;
    color: #fff;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: trans;
}

.verticalLine {
    border-left: 1px solid #ff5364; 
    height: 30px; 
    margin-left: 10px;
    margin-right: 10px;
}

.rights{
    color: white;
    /* background-color: #d71462; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.rights p{
    padding: 10px;
    background-color: transparent;
}


@media screen and (max-width: 830px) {

    .container{
        margin: 0px;
        padding: 0px;
    }

    .socials{
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .socials img{
        height: 60px;
        margin-bottom: 5%;
    }

    .socials ul{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0px;
       
    }

    .socials ul li{
        background-color: transparent;
        padding: 5px;
    }

    .socials ul li a{
        font-size: 15px;
    }

    .contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .email h4{
        text-align: center;
    }
    
}
